*.d
*.o
firmware
/firmware.packed.bin
/firmware.bin
/compiled-firmware
.cache
compile_commands.json
.vscode
/docs/*
!/docs/bk4819/
!/docs/APRS.md
k5_eeprom.raw
.DS_Store
K5TOOL.log*
/backups/
eeprom-*.raw
f4hwn
f4hwn.*
!archive/f4hwn*